@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;700&family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
/* IBM Plex Sans Import */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
/* Satoshi Import - Variable Font */
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap");
@import "tailwindcss";

@utility foldertop {
  clip-path: polygon(55% 79%, 88% 100%, 0% 100%, 0% 79%);
}

@theme {
  /* Sans-Serif Stack */
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-open: "Open Sans", sans-serif;
  --font-IBM: "IBM", sans-serif;
  --font-satoshi: "satoshi", sans-serif;

  /* Serif Stack */
  --font-garamond: "EB Garamond", serif;
  --font-georgia: "Georgia", serif;

  --font-tools: "NOsifer", " system-ui", "sans-serif";
  --font-tools:
    "Bodoni Moda", "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-music: "Cookie", "Brush Script MT", cursive, fantasy;
  --font-my-font: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-brand: "Oswald", "Impact", sans-serif;
  --font-elegant: "Playfair Display", "Georgia", serif;
  --font-heading-custom: "Poppins", sans-serif;
  --font-body-text: "Roboto", "Helvetica", sans-serif;
}
